<div class="container searchContainer">
    <h1>Administración de Empleados</h1>

    <div class="row">
        <div class="twocol"></div>
        <div class="eightcol quickSearchContainer">
            <div class="mainSearch">
                <label for="term">Búsqueda rápida:</label>
                <input type="text" id="quickSearch" ng-model="term"/>
                <input type="button" id="quickSearchSubmit" value=">>" />
            </div>
            <!--
            <div class="secondarySearch">
                <label>¿Buscar en notas?</label><input type="checkbox" id="SearchInNotesCheck" name="SearchInNotes" @(Model.SearchInNotes ? "checked='checked'" : string.Empty) />
                <label>¿Buscar en adjuntos?</label><input type="checkbox" id="SearchInAttachmentsCheck" name="SearchInAttachments" @(Model.SearchInAttachments ? "checked='checked'" : string.Empty) />
            </div>
            -->
            <p id="resultCountNotice" ng-pluralize count="resultCount" when="{'0': 'No hay resultados.', 'one': 'Hay solo un resultado.', 'other': 'Hay {} resultado(s).'}"></p>
        </div>
        <div class="twocol last"></div>
    </div>
</div>
<div class="results">

    <!-- new items button -->
    <div class="card column clickable add-new-card">
        <img class="cardPicture" src="/Content/Images/AddEmployee.png" alt="Agregar nuevo..."  />
        <div class="cardDescription">
            <p><a href="/employees/create" target="_self" class="clickable-link">Agregar nuevo...</a></p>
        </div>
    </div>

    <!-- cards -->
    <div class="card column clickable item-card" ng-repeat="item in employees" ng-controller="EmployeeListItemCtrl">
        <img class="cardPicture" ng-show="hasPictureUrl()"
            ng-src="{{getPictureUrl()}}"
            alt="{{getFullName()}}'s picture" />
        <img class="cardPicture" ng-hide="hasPictureUrl()"
            src="/Content/Images/NoPicture.png"
            alt="No picture for {{getFullName()}}" />
        <div class="cardDescription">
            <p class="name"><a class="clickable-link" href="/employees/edit/{{item.Id}}" target="_self">
                <span ng-show="hasFullName()">{{getFullName()}}</span>
                <i ng-hide="hasFullName()">Sin nombre</i>
            </a></p>
            <p class="employeeProject">{{item.CurrentProject}}</p>
            <p class="position">{{item.CurrentPosition}}</p>
            <p class="tags" ng-show="hasSkills()">
                <span ng-repeat="tag in getSkills()" class="tag">{{tag}}</span>
            </p>
        </div>
    </div>

    <!-- more items button -->
    <div class="card column get-more-items" ng-hide="noMoreItems()">
        <p class="ready-box" ng-hide="loading" ng-click="getMore()">Click para obtener más...</p>
        <div class="loading-box" ng-show="loading"></div>
    </div>
</div>

<div style="clear:both;"></div>
<pre>
    {{employees | json}}
</pre>