<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="CommonJobs/Environment" value="AppHarbor" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="CommonJobs/FakeADGroups"  value="Users, Migrators" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="CommonJobs/PublicSiteUrl" value="http://careers.makingsense.com:8889" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>

  <connectionStrings>
    <add name="RavenDB" connectionString="Url=https://1.ravenhq.com/databases/AppHarbor_11233115-c059-44a6-b55d-4ff7113bdbbd;ApiKey=d0126679-aeb8-4133-9583-4897870a9828" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <dotless minifyCss="true" cache="false" web="false" debug="true" disableParameters="true" xdt:Transform="Replace"/>

</configuration>